openapi: 3.0.3
info:
  title: Cachet
  description: 'API documentation for Cachet, the open source status page system.'
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - status
              - enabled
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'My Component'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'My Component'
            nullable: false
        -
          in: query
          name: 'filters[status]'
          description: 'Filter by status.'
          example: '1'
          required: false
          schema:
            type: string
            description: 'Filter by status.'
            example: '1'
            nullable: false
            enum:
              - '1'
              - '2'
              - '3'
        -
          in: query
          name: 'filters[enabled]'
          description: 'Filter by enabled status.'
          example: '1'
          required: false
          schema:
            type: string
            description: 'Filter by enabled status.'
            example: '1'
            nullable: false
            enum:
              - '0'
              - '1'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: autem
                        description: 'Exercitationem nulla ipsa et blanditiis. Et optio eos deleniti magnam voluptatem reiciendis aliquam. Ut est dolores sit. Quo enim voluptates porro quis asperiores. Accusamus quod fuga provident et.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: quia
                        description: 'Dolorum inventore id nobis adipisci et. Incidunt magnam et labore vero voluptas. Mollitia quis vero officiis eius.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: autem
                          description: 'Exercitationem nulla ipsa et blanditiis. Et optio eos deleniti magnam voluptatem reiciendis aliquam. Ut est dolores sit. Quo enim voluptates porro quis asperiores. Accusamus quod fuga provident et.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: quia
                          description: 'Dolorum inventore id nobis adipisci et. Incidunt magnam et labore vero voluptas. Mollitia quis vero officiis eius.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: autem
                            description:
                              type: string
                              example: 'Exercitationem nulla ipsa et blanditiis. Et optio eos deleniti magnam voluptatem reiciendis aliquam. Ut est dolores sit. Quo enim voluptates porro quis asperiores. Accusamus quod fuga provident et.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: placeat
                      description: 'Dolores ad eaque omnis commodi. Est inventore rerum itaque similique. Minima commodi qui odit dolores. Incidunt perspiciatis quasi doloremque nemo. Et dignissimos et molestiae omnis aut unde voluptatem.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: placeat
                          description:
                            type: string
                            example: 'Dolores ad eaque omnis commodi. Est inventore rerum itaque similique. Minima commodi qui odit dolores. Incidunt perspiciatis quasi doloremque nemo. Et dignissimos et molestiae omnis aut unde voluptatem.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Components
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: vel
                      description: 'Aut excepturi accusantium unde. Illum nulla non et maiores. Omnis adipisci eos dicta eos totam. Eum sit voluptas eum recusandae. Magni amet et quos quia.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: vel
                          description:
                            type: string
                            example: 'Aut excepturi accusantium unde. Illum nulla non et maiores. Omnis adipisci eos dicta eos totam. Eum sit voluptas eum recusandae. Magni amet et quos quia.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: earum
                      description: 'Et qui voluptatum nam ducimus in. Ducimus rerum fuga architecto sapiente dolor. At eius possimus quaerat totam sunt. Iure itaque id voluptas qui numquam expedita quam iste.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: earum
                          description:
                            type: string
                            example: 'Et qui voluptatum nam ducimus in. Ducimus rerum fuga architecto sapiente dolor. At eius possimus quaerat totam sunt. Iure itaque id voluptas qui numquam expedita quam iste.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Components
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 14
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: et
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: et
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: sint
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: sint
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Component Groups'
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: et
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: et
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aliquam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aliquam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Component Groups'
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: quisquam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quisquam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 15
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: status
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: status
            nullable: false
            enum:
              - name
              - id
              - status
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: f4818a90-70bb-42cf-a7d5-b6041f29989b
                        name: 'Et odio voluptatem aliquam exercitationem sunt.'
                        message: 'Laudantium cupiditate accusantium non nisi reprehenderit aut fuga. Eum autem veritatis neque tempore quibusdam ducimus. Et aliquam quia eum asperiores velit.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                    -
                      id: '4'
                      type: incidents
                      attributes:
                        id: 4
                        guid: d2774df4-c057-410c-a589-657e55b8dc3c
                        name: 'Provident veritatis et vero.'
                        message: 'Velit qui error velit optio eaque. Esse ad placeat autem ut labore unde. Ipsum nemo illum ut voluptatem magnam natus. Consequatur optio necessitatibus ipsam consequatur repellat. Aut maxime velit qui soluta ipsum.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: f4818a90-70bb-42cf-a7d5-b6041f29989b
                          name: 'Et odio voluptatem aliquam exercitationem sunt.'
                          message: 'Laudantium cupiditate accusantium non nisi reprehenderit aut fuga. Eum autem veritatis neque tempore quibusdam ducimus. Et aliquam quia eum asperiores velit.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                      -
                        id: '4'
                        type: incidents
                        attributes:
                          id: 4
                          guid: d2774df4-c057-410c-a589-657e55b8dc3c
                          name: 'Provident veritatis et vero.'
                          message: 'Velit qui error velit optio eaque. Esse ad placeat autem ut labore unde. Ipsum nemo illum ut voluptatem magnam natus. Consequatur optio necessitatibus ipsam consequatur repellat. Aut maxime velit qui soluta ipsum.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            guid:
                              type: string
                              example: f4818a90-70bb-42cf-a7d5-b6041f29989b
                            name:
                              type: string
                              example: 'Et odio voluptatem aliquam exercitationem sunt.'
                            message:
                              type: string
                              example: 'Laudantium cupiditate accusantium non nisi reprehenderit aut fuga. Eum autem veritatis neque tempore quibusdam ducimus. Et aliquam quia eum asperiores velit.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 4edb658c-3181-43ae-b8e9-051779bfe050
                      name: 'Consequatur occaecati voluptas corporis nostrum.'
                      message: 'Voluptas omnis illum enim ut. Earum praesentium recusandae adipisci dolor. Quis vel in ut temporibus expedita. Neque odit enim quia qui maiores.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 4edb658c-3181-43ae-b8e9-051779bfe050
                          name:
                            type: string
                            example: 'Consequatur occaecati voluptas corporis nostrum.'
                          message:
                            type: string
                            example: 'Voluptas omnis illum enim ut. Earum praesentium recusandae adipisci dolor. Quis vel in ut temporibus expedita. Neque odit enim quia qui maiores.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Incidents
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: f7a30f54-be76-4e82-8880-6c1e73d0f1d6
                      name: 'Dolore omnis enim nostrum sed doloribus et libero.'
                      message: 'Aperiam dolorem omnis hic ullam ea. Sit pariatur ut iure iusto neque. At incidunt dolor vitae necessitatibus. Non esse fugiat voluptas quia.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: f7a30f54-be76-4e82-8880-6c1e73d0f1d6
                          name:
                            type: string
                            example: 'Dolore omnis enim nostrum sed doloribus et libero.'
                          message:
                            type: string
                            example: 'Aperiam dolorem omnis hic ullam ea. Sit pariatur ut iure iusto neque. At incidunt dolor vitae necessitatibus. Non esse fugiat voluptas quia.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: a9e9ca12-91cf-4707-b629-a6cb36ca5576
                      name: 'Maxime repudiandae et dicta quia consequatur quasi.'
                      message: 'Non et voluptatem minima voluptatum quis in. Est qui aut inventore voluptas exercitationem eligendi ipsa. Animi quos explicabo voluptatibus iusto aut.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: a9e9ca12-91cf-4707-b629-a6cb36ca5576
                          name:
                            type: string
                            example: 'Maxime repudiandae et dicta quia consequatur quasi.'
                          message:
                            type: string
                            example: 'Non et voluptatem minima voluptatum quis in. Est qui aut inventore voluptas exercitationem eligendi ipsa. Animi quos explicabo voluptatibus iusto aut.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - Incidents
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - created_at
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: incident
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: incident
            nullable: false
            enum:
              - incident
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: updates
                      attributes:
                        id: 1
                        updateable_id: 3
                        updateable_type: incident
                        message: 'Modi delectus quod qui commodi. Consequatur qui ut cum et. Reprehenderit eligendi id in perspiciatis at dolor in.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                    -
                      id: '2'
                      type: updates
                      attributes:
                        id: 2
                        updateable_id: 4
                        updateable_type: incident
                        message: 'Quo autem ut cum modi fugit. Non ad officiis repellendus dolores veniam aliquam sed ut. Eos omnis molestias ratione est molestiae dignissimos. Est sed adipisci corporis dicta.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: updates
                        attributes:
                          id: 1
                          updateable_id: 3
                          updateable_type: incident
                          message: 'Modi delectus quod qui commodi. Consequatur qui ut cum et. Reprehenderit eligendi id in perspiciatis at dolor in.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                      -
                        id: '2'
                        type: updates
                        attributes:
                          id: 2
                          updateable_id: 4
                          updateable_type: incident
                          message: 'Quo autem ut cum modi fugit. Non ad officiis repellendus dolores veniam aliquam sed ut. Eos omnis molestias ratione est molestiae dignissimos. Est sed adipisci corporis dicta.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: updates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            updateable_id:
                              type: integer
                              example: 3
                            updateable_type:
                              type: string
                              example: incident
                            message:
                              type: string
                              example: 'Modi delectus quod qui commodi. Consequatur qui ut cum et. Reprehenderit eligendi id in perspiciatis at dolor in.'
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Excepturi perspiciatis voluptatibus quos. Minus et officiis ut quisquam eius architecto deserunt. Quia necessitatibus eum sint explicabo nihil error. Voluptas quas porro vel magni quasi est temporibus.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Excepturi perspiciatis voluptatibus quos. Minus et officiis ut quisquam eius architecto deserunt. Quia necessitatibus eum sint explicabo nihil error. Voluptas quas porro vel magni quasi est temporibus.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: incident
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: incident
            nullable: false
            enum:
              - incident
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Nisi nobis voluptatibus et reiciendis quia rerum inventore. Iste minima quaerat qui inventore voluptatem officiis ad.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Nisi nobis voluptatibus et reiciendis quia rerum inventore. Iste minima quaerat qui inventore voluptatem officiis ad.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Nostrum commodi possimus qui qui. Dolore quis et omnis et ad. Quo recusandae at et corporis.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Nostrum commodi possimus qui qui. Dolore quis et omnis et ad. Quo recusandae at et corporis.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Updates'
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the update.'
        example: 12
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - slug
              - id
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'My Template'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'My Template'
            nullable: false
        -
          in: query
          name: 'filters[slug]'
          description: 'Filter by slug.'
          example: my-template
          required: false
          schema:
            type: string
            description: 'Filter by slug.'
            example: my-template
            nullable: false
        -
          in: query
          name: 'filters[id]'
          description: 'Filter by id.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by id.'
            example: 1
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'consequatur autem'
                        slug: consequatur-autem
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'molestiae qui'
                        slug: molestiae-qui
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'consequatur autem'
                          slug: consequatur-autem
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'molestiae qui'
                          slug: molestiae-qui
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'consequatur autem'
                            slug:
                              type: string
                              example: consequatur-autem
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'eos omnis'
                      slug: eos-omnis
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'eos omnis'
                          slug:
                            type: string
                            example: eos-omnis
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Templates'
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'perferendis sequi'
                      slug: perferendis-sequi
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'perferendis sequi'
                          slug:
                            type: string
                            example: perferendis-sequi
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'tempore quia'
                      slug: tempore-quia
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'tempore quia'
                          slug:
                            type: string
                            example: tempore-quia
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-10 16:53:36'
      tags:
        - 'Incident Templates'
    delete:
      summary: 'Delete Incident Template'
      operationId: deleteIncidentTemplate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Templates'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident template.'
        example: 7
        required: true
        schema:
          type: integer
  /api/metrics:
    get:
      summary: 'List Metrics'
      operationId: listMetrics
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - order
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: points
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: points
            nullable: false
            enum:
              - points
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'metric name'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'metric name'
            nullable: false
        -
          in: query
          name: 'filters[calc_type]'
          description: ''
          example: 'sum,avg'
          required: false
          schema:
            type: string
            description: ''
            example: 'sum,avg'
            nullable: false
            enum:
              - 'Cachet\Enums\MetricTypeEnum Filter by calculation type'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: metrics
                      attributes:
                        id: 1
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                    -
                      id: '2'
                      type: metrics
                      attributes:
                        id: 2
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        created:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-10 16:53:36'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: metrics
                        attributes:
                          id: 1
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                      -
                        id: '2'
                        type: metrics
                        attributes:
                          id: 2
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          created:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-10 16:53:36'
                    items:
                      type: object
[...]
