openapi: 3.0.3
info:
  title: Cachet
  description: 'API documentation for Cachet, the open source status page system.'
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - status
              - enabled
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example: null
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example: null
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: est
                        description: 'Animi voluptatum fuga modi molestiae dolorem aut. Id et sed atque aliquam ut voluptas. Ullam in pariatur ad sit voluptas architecto repellat. Et dolore laboriosam assumenda.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: laborum
                        description: 'Perspiciatis sit non velit vitae voluptatum et molestiae. Enim quidem minus in ut deserunt quia ut. Iusto eaque deserunt sint aut velit fuga. Sunt fugit maiores qui consectetur consequatur.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: est
                          description: 'Animi voluptatum fuga modi molestiae dolorem aut. Id et sed atque aliquam ut voluptas. Ullam in pariatur ad sit voluptas architecto repellat. Et dolore laboriosam assumenda.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: laborum
                          description: 'Perspiciatis sit non velit vitae voluptatum et molestiae. Enim quidem minus in ut deserunt quia ut. Iusto eaque deserunt sint aut velit fuga. Sunt fugit maiores qui consectetur consequatur.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: est
                            description:
                              type: string
                              example: 'Animi voluptatum fuga modi molestiae dolorem aut. Id et sed atque aliquam ut voluptas. Ullam in pariatur ad sit voluptas architecto repellat. Et dolore laboriosam assumenda.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: occaecati
                      description: 'Sunt qui at est dolor. Error repellat commodi hic. Et odit quas reprehenderit porro.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: occaecati
                          description:
                            type: string
                            example: 'Sunt qui at est dolor. Error repellat commodi hic. Et odit quas reprehenderit porro.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: of
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Aliquam nisi placeat aut mollitia vel et.'
                  nullable: false
                status:
                  type: integer
                  description: 'The status of the component. See [Component Statuses](/v3.x/guide/components#component-statuses) for more information.'
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: reiciendis
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 2
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 37
                  nullable: false
              required:
                - name
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: iste
                      description: 'Enim sunt sint quae expedita est et sunt. Quia occaecati vel voluptates voluptatem ut fugit. Quos sed fugit est eum iusto illo.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: iste
                          description:
                            type: string
                            example: 'Enim sunt sint quae expedita est et sunt. Quia occaecati vel voluptates voluptatem ut fugit. Quos sed fugit est eum iusto illo.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: officia
                      description: 'Enim odit eos sunt. Facilis dolores molestias atque dolorum. Sequi et vitae deserunt amet ea reiciendis. Ut beatae qui nisi explicabo odio.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: officia
                          description:
                            type: string
                            example: 'Enim odit eos sunt. Facilis dolores molestias atque dolorum. Sequi et vitae deserunt amet ea reiciendis. Ut beatae qui nisi explicabo odio.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Components
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: kavxzfeljvor
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Nemo aspernatur explicabo iure dignissimos neque aliquid tempore.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: non
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 23
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 67
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 11
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: suscipit
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: suscipit
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: totam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: totam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Component Groups'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: aqqrwbspdufkgirdjtrooxzl
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 48
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 10
                  items:
                    type: integer
              required:
                - name
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aut
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aut
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aut
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aut
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Component Groups'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: yqcwzzptxhjbjcykbq
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 36
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 85
                  items:
                    type: integer
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: voluptas
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: voluptas
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 4
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: status
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: status
            nullable: false
            enum:
              - name
              - id
              - status
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: 7a6f24d8-9df7-454d-bf45-baf63730b544
                        name: 'Aut voluptas doloremque repellendus harum consequatur.'
                        message: 'Ut eligendi blanditiis aut quia aut sed qui exercitationem. Distinctio laborum et esse maiores dignissimos inventore culpa. Sit magni labore aut nam consequatur quidem. Nisi fugit architecto et odio enim non.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                    -
                      id: '4'
                      type: incidents
                      attributes:
                        id: 4
                        guid: 90a4b059-7557-48f5-a2a1-b6243372f424
                        name: 'Dolorem sit et est sit doloremque adipisci non.'
                        message: 'Velit accusantium aspernatur et et modi. Commodi magni sed iusto optio molestiae minima nobis. Maiores assumenda et et error alias recusandae laudantium.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: 7a6f24d8-9df7-454d-bf45-baf63730b544
                          name: 'Aut voluptas doloremque repellendus harum consequatur.'
                          message: 'Ut eligendi blanditiis aut quia aut sed qui exercitationem. Distinctio laborum et esse maiores dignissimos inventore culpa. Sit magni labore aut nam consequatur quidem. Nisi fugit architecto et odio enim non.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                      -
                        id: '4'
                        type: incidents
                        attributes:
                          id: 4
                          guid: 90a4b059-7557-48f5-a2a1-b6243372f424
                          name: 'Dolorem sit et est sit doloremque adipisci non.'
                          message: 'Velit accusantium aspernatur et et modi. Commodi magni sed iusto optio molestiae minima nobis. Maiores assumenda et et error alias recusandae laudantium.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            guid:
                              type: string
                              example: 7a6f24d8-9df7-454d-bf45-baf63730b544
                            name:
                              type: string
                              example: 'Aut voluptas doloremque repellendus harum consequatur.'
                            message:
                              type: string
                              example: 'Ut eligendi blanditiis aut quia aut sed qui exercitationem. Distinctio laborum et esse maiores dignissimos inventore culpa. Sit magni labore aut nam consequatur quidem. Nisi fugit architecto et odio enim non.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 9f5dd193-ba1f-4828-b22b-e4295aa699e7
                      name: 'Dolore deserunt totam totam ipsa cupiditate voluptas est.'
                      message: 'Veniam ullam doloremque aliquid doloremque totam officiis. Minus quasi autem soluta in dolore. Sed adipisci magni qui fuga dolor totam.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 9f5dd193-ba1f-4828-b22b-e4295aa699e7
                          name:
                            type: string
                            example: 'Dolore deserunt totam totam ipsa cupiditate voluptas est.'
                          message:
                            type: string
                            example: 'Veniam ullam doloremque aliquid doloremque totam officiis. Minus quasi autem soluta in dolore. Sed adipisci magni qui fuga dolor totam.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Incidents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: mk
                  nullable: false
                message:
                  type: string
                  description: 'This field is required when <code>template</code> is not present.'
                  example: neque
                  nullable: false
                template:
                  type: string
                  description: 'This field is required when <code>message</code> is not present.'
                  example: nam
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: sit
                  nullable: true
                template_vars:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties: {  }
                component_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the components table.'
                  example: null
                  nullable: false
                component_status:
                  type: integer
                  description: 'This field is required when <code>component_id</code> is present.'
                  example: 4
                  nullable: true
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
              required:
                - name
                - status
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 2255e50a-e03d-4556-8d47-2252cb6844ee
                      name: 'Debitis nihil necessitatibus dolorem ipsum quas dolorum.'
                      message: 'Harum error eaque enim eveniet. Sunt tempora laboriosam odit repudiandae. Cum totam dolores quia sapiente velit sapiente rem repellat. Aliquam voluptatem voluptatem velit quos deserunt.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 2255e50a-e03d-4556-8d47-2252cb6844ee
                          name:
                            type: string
                            example: 'Debitis nihil necessitatibus dolorem ipsum quas dolorum.'
                          message:
                            type: string
                            example: 'Harum error eaque enim eveniet. Sunt tempora laboriosam odit repudiandae. Cum totam dolores quia sapiente velit sapiente rem repellat. Aliquam voluptatem voluptatem velit quos deserunt.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: e1683a1d-ef25-4da2-a2ef-c6399a7a2905
                      name: 'Debitis quia reprehenderit consequatur et.'
                      message: 'Voluptate accusantium et repellendus earum possimus. Eligendi et dolores sequi ducimus qui doloremque voluptatibus. Quia vero ratione magni sit rerum ut.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: e1683a1d-ef25-4da2-a2ef-c6399a7a2905
                          name:
                            type: string
                            example: 'Debitis quia reprehenderit consequatur et.'
                          message:
                            type: string
                            example: 'Voluptate accusantium et repellendus earum possimus. Eligendi et dolores sequi ducimus qui doloremque voluptatibus. Quia vero ratione magni sit rerum ut.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - Incidents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xnovjd
                  nullable: false
                message:
                  type: string
                  description: ''
                  example: sed
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: quis
                  nullable: true
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - created_at
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example:
            - ea
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example:
              - ea
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: updates
                      attributes:
                        id: 1
                        updateable_id: 3
                        updateable_type: incident
                        message: 'Voluptatem eum at tempore. Rem aut perferendis ea in optio corporis aspernatur. Ut aut et rerum rerum quas. Earum corrupti cum laboriosam et et est soluta quam.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                    -
                      id: '2'
                      type: updates
                      attributes:
                        id: 2
                        updateable_id: 4
                        updateable_type: incident
                        message: 'Tempora unde commodi cum quia porro voluptatum. Labore voluptates dolorum veritatis omnis tempore tempora. Quasi et et modi nihil dolorem dolore. Ut voluptates aut atque asperiores fugit voluptas.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: updates
                        attributes:
                          id: 1
                          updateable_id: 3
                          updateable_type: incident
                          message: 'Voluptatem eum at tempore. Rem aut perferendis ea in optio corporis aspernatur. Ut aut et rerum rerum quas. Earum corrupti cum laboriosam et et est soluta quam.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                      -
                        id: '2'
                        type: updates
                        attributes:
                          id: 2
                          updateable_id: 4
                          updateable_type: incident
                          message: 'Tempora unde commodi cum quia porro voluptatum. Labore voluptates dolorum veritatis omnis tempore tempora. Quasi et et modi nihil dolorem dolore. Ut voluptates aut atque asperiores fugit voluptas.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: updates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            updateable_id:
                              type: integer
                              example: 3
                            updateable_type:
                              type: string
                              example: incident
                            message:
                              type: string
                              example: 'Voluptatem eum at tempore. Rem aut perferendis ea in optio corporis aspernatur. Ut aut et rerum rerum quas. Earum corrupti cum laboriosam et et est soluta quam.'
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Eaque eos quibusdam qui. Aperiam culpa ipsam totam et rem. Soluta eveniet quas omnis.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Eaque eos quibusdam qui. Aperiam culpa ipsam totam et rem. Soluta eveniet quas omnis.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Updates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 0
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: sit
                  nullable: false
              required:
                - status
                - message
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Provident quas consequatur et vel iusto reiciendis et. Qui inventore voluptatibus qui. Temporibus tempore est laborum nulla cum.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Provident quas consequatur et vel iusto reiciendis et. Qui inventore voluptatibus qui. Temporibus tempore est laborum nulla cum.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Tempore consectetur consequatur nulla dolorum repellat et. Officia asperiores dolores qui fuga. Ut quo aut sed dolorem rem. Et velit rerum architecto occaecati debitis.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Tempore consectetur consequatur nulla dolorum repellat et. Officia asperiores dolores qui fuga. Ut quo aut sed dolorem rem. Et velit rerum architecto occaecati debitis.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Updates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 3
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: voluptas
                  nullable: false
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the update.'
        example: 5
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - slug
              - id
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example:
            - vel
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example:
              - vel
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'qui dignissimos'
                        slug: qui-dignissimos
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'optio dolores'
                        slug: optio-dolores
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'qui dignissimos'
                          slug: qui-dignissimos
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'optio dolores'
                          slug: optio-dolores
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-02 09:43:18'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'qui dignissimos'
                            slug:
                              type: string
                              example: qui-dignissimos
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'dignissimos repudiandae'
                      slug: dignissimos-repudiandae
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'dignissimos repudiandae'
                          slug:
                            type: string
                            example: dignissimos-repudiandae
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Templates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: j
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: nulla
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: aut
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: twig
                  nullable: false
                  enum:
                    - blade
                    - twig
              required:
                - name
                - template
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'veniam voluptatem'
                      slug: veniam-voluptatem
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-02 09:43:18'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'veniam voluptatem'
                          slug:
                            type: string
                            example: veniam-voluptatem
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-02 09:43:18'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
[...]
