openapi: 3.0.3
info:
  title: Cachet
  description: ''
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: esse
                        description: 'Occaecati sed nihil laboriosam eligendi. Repellendus sed repudiandae accusamus reiciendis earum. Minus asperiores in accusantium non incidunt accusantium accusamus.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: architecto
                        description: 'Rem eos veniam minima nobis fugiat. Porro voluptatem et sint dolorum. Pariatur rerum consequatur et tempore neque et ut.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: esse
                          description: 'Occaecati sed nihil laboriosam eligendi. Repellendus sed repudiandae accusamus reiciendis earum. Minus asperiores in accusantium non incidunt accusantium accusamus.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: architecto
                          description: 'Rem eos veniam minima nobis fugiat. Porro voluptatem et sint dolorum. Pariatur rerum consequatur et tempore neque et ut.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: esse
                            description:
                              type: string
                              example: 'Occaecati sed nihil laboriosam eligendi. Repellendus sed repudiandae accusamus reiciendis earum. Minus asperiores in accusantium non incidunt accusantium accusamus.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: officia
                      description: 'Voluptatem omnis est voluptate aperiam. Voluptatem animi sit id dolorem. Ullam unde non ea doloremque autem amet et.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: officia
                          description:
                            type: string
                            example: 'Voluptatem omnis est voluptate aperiam. Voluptatem animi sit id dolorem. Ullam unde non ea doloremque autem amet et.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pducctdmpeukpo
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Voluptas hic consequatur ut omnis omnis omnis deleniti exercitationem.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: quis
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 2
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 43
                  nullable: false
              required:
                - name
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: id
                      description: 'Culpa voluptas autem dolorem quibusdam. Non non cumque sit. Neque alias dolore architecto iusto.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: id
                          description:
                            type: string
                            example: 'Culpa voluptas autem dolorem quibusdam. Non non cumque sit. Neque alias dolore architecto iusto.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: fugit
                      description: 'Nulla ullam illo dolor alias nihil. Incidunt delectus ipsum iusto eaque. Quia dolores et hic molestias tempore. Soluta tenetur deleniti est rem.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: fugit
                          description:
                            type: string
                            example: 'Nulla ullam illo dolor alias nihil. Incidunt delectus ipsum iusto eaque. Quia dolores et hic molestias tempore. Soluta tenetur deleniti est rem.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Components
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: msdyccasjkez
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Dignissimos corrupti voluptas officiis cumque.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: illo
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 60
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 72
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 9
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: modi
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: modi
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: non
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: non
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Component Groups'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xoygphobwasmhxviuzvrokol
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 54
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 37
                  items:
                    type: integer
              required:
                - name
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: quia
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quia
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: et
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: et
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Component Groups'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qntjkpngukjtimwisnreoikep
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 43
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 3
                  items:
                    type: integer
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: expedita
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: expedita
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 7
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '2'
                      type: incidents
                      attributes:
                        id: 2
                        guid: e6b86bae-762e-4ec3-8eda-9c7392764c42
                        name: 'A optio sint quia sequi voluptatem dolore nulla.'
                        message: 'Doloremque corrupti veniam odio quia culpa. Aut beatae nobis exercitationem inventore architecto. Qui dicta ut velit totam cupiditate. Ad qui laborum autem qui est repudiandae ut ex.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: e22c8562-c7af-4399-80d8-3743fed26afd
                        name: 'Harum nisi nihil vel repellendus ullam illo.'
                        message: 'Maxime officiis vero ad nostrum. Et impedit quod dolor molestias officiis vitae omnis. Et qui quia nihil architecto voluptatem.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '2'
                        type: incidents
                        attributes:
                          id: 2
                          guid: e6b86bae-762e-4ec3-8eda-9c7392764c42
                          name: 'A optio sint quia sequi voluptatem dolore nulla.'
                          message: 'Doloremque corrupti veniam odio quia culpa. Aut beatae nobis exercitationem inventore architecto. Qui dicta ut velit totam cupiditate. Ad qui laborum autem qui est repudiandae ut ex.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: e22c8562-c7af-4399-80d8-3743fed26afd
                          name: 'Harum nisi nihil vel repellendus ullam illo.'
                          message: 'Maxime officiis vero ad nostrum. Et impedit quod dolor molestias officiis vitae omnis. Et qui quia nihil architecto voluptatem.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '2'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            guid:
                              type: string
                              example: e6b86bae-762e-4ec3-8eda-9c7392764c42
                            name:
                              type: string
                              example: 'A optio sint quia sequi voluptatem dolore nulla.'
                            message:
                              type: string
                              example: 'Doloremque corrupti veniam odio quia culpa. Aut beatae nobis exercitationem inventore architecto. Qui dicta ut velit totam cupiditate. Ad qui laborum autem qui est repudiandae ut ex.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: 5151fb78-bc4d-4f52-9d7c-66ab6d06f5e6
                      name: 'Molestiae accusamus quaerat molestiae est eos.'
                      message: 'Illum sunt id mollitia aperiam culpa magni. Aut aut consequatur ipsum voluptatem accusamus necessitatibus numquam. Aut asperiores perspiciatis vero velit exercitationem. Fugiat repellendus nesciunt ab vitae doloremque iure. Officiis maxime molestiae repellat maxime odio.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: 5151fb78-bc4d-4f52-9d7c-66ab6d06f5e6
                          name:
                            type: string
                            example: 'Molestiae accusamus quaerat molestiae est eos.'
                          message:
                            type: string
                            example: 'Illum sunt id mollitia aperiam culpa magni. Aut aut consequatur ipsum voluptatem accusamus necessitatibus numquam. Aut asperiores perspiciatis vero velit exercitationem. Fugiat repellendus nesciunt ab vitae doloremque iure. Officiis maxime molestiae repellat maxime odio.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Incidents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: geuclawxqhotxq
                  nullable: false
                message:
                  type: string
                  description: 'This field is required when <code>template</code> is not present.'
                  example: quia
                  nullable: false
                template:
                  type: string
                  description: 'This field is required when <code>message</code> is not present.'
                  example: perferendis
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: aut
                  nullable: true
                template_vars:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties: {  }
                component_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the components table.'
                  example: null
                  nullable: false
                component_status:
                  type: integer
                  description: 'This field is required when <code>component_id</code> is present.'
                  example: 5
                  nullable: true
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
              required:
                - name
                - status
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: 6dbf2af2-6b2f-492e-a89d-af9f49ea99c6
                      name: 'Voluptate recusandae placeat ut optio et dicta.'
                      message: 'Aliquid cumque eos voluptatem impedit corrupti. Est minima nobis doloribus veritatis quisquam natus. Maiores velit dolorem doloribus maxime porro aut. Nisi nulla blanditiis a.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: 6dbf2af2-6b2f-492e-a89d-af9f49ea99c6
                          name:
                            type: string
                            example: 'Voluptate recusandae placeat ut optio et dicta.'
                          message:
                            type: string
                            example: 'Aliquid cumque eos voluptatem impedit corrupti. Est minima nobis doloribus veritatis quisquam natus. Maiores velit dolorem doloribus maxime porro aut. Nisi nulla blanditiis a.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: 8125b357-ca9c-4ed6-9d75-215cbcf6fb21
                      name: 'Accusantium aliquam aliquam voluptatem necessitatibus.'
                      message: 'Fuga voluptatem perspiciatis minus sunt et. Qui qui dolores non in. Dolores et qui quas.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: 8125b357-ca9c-4ed6-9d75-215cbcf6fb21
                          name:
                            type: string
                            example: 'Accusantium aliquam aliquam voluptatem necessitatibus.'
                          message:
                            type: string
                            example: 'Fuga voluptatem perspiciatis minus sunt et. Qui qui dolores non in. Dolores et qui quas.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - Incidents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lxlgdplqoxsiydrnxt
                  nullable: false
                message:
                  type: string
                  description: ''
                  example: eaque
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 2
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: corporis
                  nullable: true
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentUpdates
                      attributes:
                        id: 1
                        message: 'Et ratione mollitia ut in fugiat aut. Ut facere ipsa voluptas commodi earum. Rem ea voluptatibus dolor velit veritatis.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                    -
                      id: '2'
                      type: incidentUpdates
                      attributes:
                        id: 2
                        message: 'Consectetur dolorum consequatur aperiam est unde qui neque. Velit voluptates modi quia sunt asperiores.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentUpdates
                        attributes:
                          id: 1
                          message: 'Et ratione mollitia ut in fugiat aut. Ut facere ipsa voluptas commodi earum. Rem ea voluptatibus dolor velit veritatis.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                      -
                        id: '2'
                        type: incidentUpdates
                        attributes:
                          id: 2
                          message: 'Consectetur dolorum consequatur aperiam est unde qui neque. Velit voluptates modi quia sunt asperiores.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentUpdates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            message:
                              type: string
                              example: 'Et ratione mollitia ut in fugiat aut. Ut facere ipsa voluptas commodi earum. Rem ea voluptatibus dolor velit veritatis.'
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Dolores quae eius ut non incidunt omnis saepe debitis. Rem facere saepe vitae ut sit ad incidunt est.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Dolores quae eius ut non incidunt omnis saepe debitis. Rem facere saepe vitae ut sit ad incidunt est.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Updates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 0
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: sed
                  nullable: false
              required:
                - status
                - message
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{incidentUpdate_id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Qui perspiciatis hic id aut. Repellat quia blanditiis accusamus quaerat et ut magnam.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Qui perspiciatis hic id aut. Repellat quia blanditiis accusamus quaerat et ut magnam.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Soluta id rerum et rem ullam. Et eaque reprehenderit nam. Ducimus reprehenderit architecto quaerat asperiores et.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Soluta id rerum et rem ullam. Et eaque reprehenderit nam. Ducimus reprehenderit architecto quaerat asperiores et.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Updates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 3
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: sint
                  nullable: false
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: incidentUpdate_id
        description: 'The ID of the incidentUpdate.'
        example: 9
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'dolorum ad'
                        slug: dolorum-ad
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'veritatis quos'
                        slug: veritatis-quos
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'dolorum ad'
                          slug: dolorum-ad
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'veritatis quos'
                          slug: veritatis-quos
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'dolorum ad'
                            slug:
                              type: string
                              example: dolorum-ad
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'ea deleniti'
                      slug: ea-deleniti
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'ea deleniti'
                          slug:
                            type: string
                            example: ea-deleniti
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Templates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ozwnoirvyd
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: non
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: consequatur
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: blade
                  nullable: false
                  enum:
                    - blade
                    - twig
              required:
                - name
                - template
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'qui possimus'
                      slug: qui-possimus
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'qui possimus'
                          slug:
                            type: string
                            example: qui-possimus
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'sint necessitatibus'
                      slug: sint-necessitatibus
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'sint necessitatibus'
                          slug:
                            type: string
                            example: sint-necessitatibus
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:23:07'
      tags:
        - 'Incident Templates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jpmvvpjjurelkqvhikuvwc
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: ut
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: voluptas
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: blade
                  nullable: false
                  enum:
                    - blade
                    - twig
    delete:
      summary: 'Delete Incident Template'
      operationId: deleteIncidentTemplate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Templates'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident template.'
        example: 3
        required: true
        schema:
          type: integer
  /api/metrics:
    get:
      summary: 'List Metrics'
      operationId: listMetrics
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: metrics
                      attributes:
                        id: 1
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                    -
                      id: '2'
                      type: metrics
                      attributes:
                        id: 2
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:23:07'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: metrics
                        attributes:
                          id: 1
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          status: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:23:07'
                      -
                        id: '2'
[...]
