openapi: 3.0.3
info:
  title: Cachet
  description: 'API documentation for Cachet, the open source status page system.'
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: facilis
                        description: 'Ut cumque qui vero iste consectetur. Laudantium ex voluptatem fugit vel non nihil.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: dolorem
                        description: 'Modi unde totam perspiciatis nostrum. Sed pariatur tempora repellat facere provident voluptas fugit hic. Laudantium libero at velit pariatur.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: facilis
                          description: 'Ut cumque qui vero iste consectetur. Laudantium ex voluptatem fugit vel non nihil.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: dolorem
                          description: 'Modi unde totam perspiciatis nostrum. Sed pariatur tempora repellat facere provident voluptas fugit hic. Laudantium libero at velit pariatur.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: facilis
                            description:
                              type: string
                              example: 'Ut cumque qui vero iste consectetur. Laudantium ex voluptatem fugit vel non nihil.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: omnis
                      description: 'Cum sequi qui vitae aspernatur non sequi. Sapiente consequuntur nesciunt id porro est. Ut enim repellendus perferendis rerum at. Dignissimos ut aut consequatur adipisci ab quod voluptas voluptas.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: omnis
                          description:
                            type: string
                            example: 'Cum sequi qui vitae aspernatur non sequi. Sapiente consequuntur nesciunt id porro est. Ut enim repellendus perferendis rerum at. Dignissimos ut aut consequatur adipisci ab quod voluptas voluptas.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: reeipoqqnomsnxxqnrufqdya
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Officiis accusantium soluta praesentium et numquam ipsam.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: optio
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 66
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 25
                  nullable: false
              required:
                - name
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: expedita
                      description: 'Magni quaerat distinctio commodi. Maiores eligendi ut eos eius. At illo temporibus dolore ut ut.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: expedita
                          description:
                            type: string
                            example: 'Magni quaerat distinctio commodi. Maiores eligendi ut eos eius. At illo temporibus dolore ut ut.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: qui
                      description: 'Nihil quam expedita necessitatibus illum voluptas libero odit. Ab sint nihil harum modi. Quia vero facilis et eveniet soluta autem recusandae.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: qui
                          description:
                            type: string
                            example: 'Nihil quam expedita necessitatibus illum voluptas libero odit. Ab sint nihil harum modi. Quia vero facilis et eveniet soluta autem recusandae.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Components
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: byvvizdzalkhhxkmkwsskczax
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Quia temporibus dolores aut voluptatem quae ea qui.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: ea
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 77
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 29
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 16
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: ea
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: ea
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: vel
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: vel
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Component Groups'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xytxfkbxqugsezytoa
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 0
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 74
                  items:
                    type: integer
              required:
                - name
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aliquid
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aliquid
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: quibusdam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quibusdam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Component Groups'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: yotqskwdqawqwsf
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 4
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 18
                  items:
                    type: integer
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aut
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aut
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 15
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: c2e7f014-88a1-4f03-b91d-31857ed3b397
                        name: 'Alias at ut quia.'
                        message: 'Odit illum beatae soluta deleniti doloremque eum earum. Facere aut fugit consequatur. Nihil qui rerum dolore magni adipisci.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                    -
                      id: '4'
                      type: incidents
                      attributes:
                        id: 4
                        guid: 90f78337-e46c-4695-aa3c-06811ca502f2
                        name: 'Fugiat dolores ea et exercitationem excepturi ipsa vero.'
                        message: 'Aperiam repudiandae quidem magni et. Ut necessitatibus asperiores eum dolorum. Praesentium atque adipisci architecto.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: c2e7f014-88a1-4f03-b91d-31857ed3b397
                          name: 'Alias at ut quia.'
                          message: 'Odit illum beatae soluta deleniti doloremque eum earum. Facere aut fugit consequatur. Nihil qui rerum dolore magni adipisci.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                      -
                        id: '4'
                        type: incidents
                        attributes:
                          id: 4
                          guid: 90f78337-e46c-4695-aa3c-06811ca502f2
                          name: 'Fugiat dolores ea et exercitationem excepturi ipsa vero.'
                          message: 'Aperiam repudiandae quidem magni et. Ut necessitatibus asperiores eum dolorum. Praesentium atque adipisci architecto.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            guid:
                              type: string
                              example: c2e7f014-88a1-4f03-b91d-31857ed3b397
                            name:
                              type: string
                              example: 'Alias at ut quia.'
                            message:
                              type: string
                              example: 'Odit illum beatae soluta deleniti doloremque eum earum. Facere aut fugit consequatur. Nihil qui rerum dolore magni adipisci.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: c0ff9ee4-ea48-4fe7-a388-028e805502f1
                      name: 'Inventore voluptas nihil sunt veritatis.'
                      message: 'Tempore sapiente magni iure aut quis. Voluptas omnis et voluptates ut. Tempora illum sunt eveniet quam eos quia aspernatur. Pariatur ea voluptatibus odio rerum et.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: c0ff9ee4-ea48-4fe7-a388-028e805502f1
                          name:
                            type: string
                            example: 'Inventore voluptas nihil sunt veritatis.'
                          message:
                            type: string
                            example: 'Tempore sapiente magni iure aut quis. Voluptas omnis et voluptates ut. Tempora illum sunt eveniet quam eos quia aspernatur. Pariatur ea voluptatibus odio rerum et.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Incidents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: uemuzkkjcgyxg
                  nullable: false
                message:
                  type: string
                  description: 'This field is required when <code>template</code> is not present.'
                  example: necessitatibus
                  nullable: false
                template:
                  type: string
                  description: 'This field is required when <code>message</code> is not present.'
                  example: porro
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 3
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: alias
                  nullable: true
                template_vars:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties: {  }
                component_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the components table.'
                  example: null
                  nullable: false
                component_status:
                  type: integer
                  description: 'This field is required when <code>component_id</code> is present.'
                  example: 4
                  nullable: true
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
              required:
                - name
                - status
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: fead419e-458b-4326-b998-4baec5ff4374
                      name: 'Esse sed exercitationem ab quia non.'
                      message: 'Quod sit laboriosam mollitia dolores veritatis consequuntur soluta. Aperiam et quaerat aspernatur ea amet. Rem et aliquid qui esse. Dolor ut reiciendis sit non.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: fead419e-458b-4326-b998-4baec5ff4374
                          name:
                            type: string
                            example: 'Esse sed exercitationem ab quia non.'
                          message:
                            type: string
                            example: 'Quod sit laboriosam mollitia dolores veritatis consequuntur soluta. Aperiam et quaerat aspernatur ea amet. Rem et aliquid qui esse. Dolor ut reiciendis sit non.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: ced29880-5172-496a-992f-54a5693ef160
                      name: 'Id aut non necessitatibus quam.'
                      message: 'Illo est accusantium unde in. Minima quo ut neque nulla. Laudantium rerum nihil saepe.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: ced29880-5172-496a-992f-54a5693ef160
                          name:
                            type: string
                            example: 'Id aut non necessitatibus quam.'
                          message:
                            type: string
                            example: 'Illo est accusantium unde in. Minima quo ut neque nulla. Laudantium rerum nihil saepe.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - Incidents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ofw
                  nullable: false
                message:
                  type: string
                  description: ''
                  example: qui
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: aut
                  nullable: true
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentUpdates
                      attributes:
                        id: 1
                        message: 'Accusantium corrupti aut quis eum nesciunt. Minus et voluptatem quidem reiciendis perferendis voluptas quos.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                    -
                      id: '2'
                      type: incidentUpdates
                      attributes:
                        id: 2
                        message: 'Possimus amet modi amet mollitia ea. Reprehenderit libero aut est. Ipsum temporibus cumque enim dolorum atque illum laborum molestiae.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentUpdates
                        attributes:
                          id: 1
                          message: 'Accusantium corrupti aut quis eum nesciunt. Minus et voluptatem quidem reiciendis perferendis voluptas quos.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                      -
                        id: '2'
                        type: incidentUpdates
                        attributes:
                          id: 2
                          message: 'Possimus amet modi amet mollitia ea. Reprehenderit libero aut est. Ipsum temporibus cumque enim dolorum atque illum laborum molestiae.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentUpdates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            message:
                              type: string
                              example: 'Accusantium corrupti aut quis eum nesciunt. Minus et voluptatem quidem reiciendis perferendis voluptas quos.'
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Dolorem voluptas et accusamus omnis. Sed et doloremque voluptas necessitatibus accusantium tempore non laboriosam.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Dolorem voluptas et accusamus omnis. Sed et doloremque voluptas necessitatibus accusantium tempore non laboriosam.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Updates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: ea
                  nullable: false
              required:
                - status
                - message
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{incidentUpdate_id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Non animi id nisi sunt ut. Doloribus quod est sint rerum quia quaerat aut. Qui voluptate laboriosam qui quia.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Non animi id nisi sunt ut. Doloribus quod est sint rerum quia quaerat aut. Qui voluptate laboriosam qui quia.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Aut doloremque nobis blanditiis nobis. Autem enim ut necessitatibus commodi ad quod libero. Voluptatibus illum vel possimus maxime. Nisi voluptatem accusantium ad aliquid accusantium. Consectetur ullam culpa non iste quo sint aspernatur.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Aut doloremque nobis blanditiis nobis. Autem enim ut necessitatibus commodi ad quod libero. Voluptatibus illum vel possimus maxime. Nisi voluptatem accusantium ad aliquid accusantium. Consectetur ullam culpa non iste quo sint aspernatur.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Updates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: qui
                  nullable: false
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: incidentUpdate_id
        description: 'The ID of the incidentUpdate.'
        example: 12
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'occaecati iste'
                        slug: occaecati-iste
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'ut illum'
                        slug: ut-illum
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'occaecati iste'
                          slug: occaecati-iste
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'ut illum'
                          slug: ut-illum
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'occaecati iste'
                            slug:
                              type: string
                              example: occaecati-iste
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'eum enim'
                      slug: eum-enim
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'eum enim'
                          slug:
                            type: string
                            example: eum-enim
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Templates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: otrybbuyyywhagoyoam
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: minus
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: quos
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: twig
                  nullable: false
                  enum:
                    - blade
                    - twig
              required:
                - name
                - template
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'omnis est'
                      slug: omnis-est
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'omnis est'
                          slug:
                            type: string
                            example: omnis-est
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'veniam vero'
                      slug: veniam-vero
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'veniam vero'
                          slug:
                            type: string
                            example: veniam-vero
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 07:31:29'
      tags:
        - 'Incident Templates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jkjvfibx
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: ipsum
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: voluptas
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: twig
                  nullable: false
                  enum:
                    - blade
                    - twig
    delete:
      summary: 'Delete Incident Template'
      operationId: deleteIncidentTemplate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Templates'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident template.'
        example: 14
        required: true
        schema:
          type: integer
  /api/metrics:
    get:
      summary: 'List Metrics'
      operationId: listMetrics
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: metrics
                      attributes:
                        id: 1
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                    -
                      id: '2'
                      type: metrics
                      attributes:
                        id: 2
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 07:31:29'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: metrics
                        attributes:
                          id: 1
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          status: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 07:31:29'
                      -
                        id: '2'
                        type: metrics
                        attributes:
                          id: 2
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
[...]
