openapi: 3.0.3
info:
  title: Cachet
  description: 'API documentation for Cachet, the open source status page system.'
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - status
              - enabled
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'My Component'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'My Component'
            nullable: false
        -
          in: query
          name: 'filters[status]'
          description: 'Filter by status.'
          example: '1'
          required: false
          schema:
            type: string
            description: 'Filter by status.'
            example: '1'
            nullable: false
            enum:
              - '1'
              - '2'
              - '3'
        -
          in: query
          name: 'filters[enabled]'
          description: 'Filter by enabled status.'
          example: '1'
          required: false
          schema:
            type: string
            description: 'Filter by enabled status.'
            example: '1'
            nullable: false
            enum:
              - '0'
              - '1'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: reprehenderit
                        description: 'Autem qui ipsa et nisi. Accusamus neque ipsum optio provident. Dignissimos aliquid ut nam adipisci.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: natus
                        description: 'Voluptatem voluptatibus consequatur fuga natus ipsa iusto est excepturi. Reprehenderit fuga molestiae adipisci accusantium. Aut similique architecto debitis dicta minus labore illo.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: reprehenderit
                          description: 'Autem qui ipsa et nisi. Accusamus neque ipsum optio provident. Dignissimos aliquid ut nam adipisci.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: natus
                          description: 'Voluptatem voluptatibus consequatur fuga natus ipsa iusto est excepturi. Reprehenderit fuga molestiae adipisci accusantium. Aut similique architecto debitis dicta minus labore illo.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: reprehenderit
                            description:
                              type: string
                              example: 'Autem qui ipsa et nisi. Accusamus neque ipsum optio provident. Dignissimos aliquid ut nam adipisci.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: eaque
                      description: 'Consequatur beatae optio blanditiis. Qui quasi quae incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          description:
                            type: string
                            example: 'Consequatur beatae optio blanditiis. Qui quasi quae incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Components
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: quibusdam
                      description: 'Assumenda dicta esse magni repellendus impedit ea. Itaque voluptatibus id odio doloremque. Doloribus ut ut occaecati eaque sequi ipsam consequatur. Optio blanditiis quia qui quasi quae.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quibusdam
                          description:
                            type: string
                            example: 'Assumenda dicta esse magni repellendus impedit ea. Itaque voluptatibus id odio doloremque. Doloribus ut ut occaecati eaque sequi ipsam consequatur. Optio blanditiis quia qui quasi quae.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: eaque
                      description: 'Consequatur beatae optio blanditiis. Qui quasi quae incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          description:
                            type: string
                            example: 'Consequatur beatae optio blanditiis. Qui quasi quae incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Components
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 2
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: eaque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: eaque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Component Groups'
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: quibusdam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quibusdam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: eaque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Component Groups'
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: eaque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 2
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: status
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: status
            nullable: false
            enum:
              - name
              - id
              - status
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: aaca14a1-fdd4-416f-a508-50e1355679a8
                        name: 'Beatae optio blanditiis quia.'
                        message: 'Quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                    -
                      id: '4'
                      type: incidents
                      attributes:
                        id: 4
                        guid: 4cc5dea8-f345-40ab-a823-d9a013b2663f
                        name: 'Asperiores consequuntur est sed labore minus laudantium omnis porro.'
                        message: 'Autem in molestiae earum nulla veniam. Esse veniam soluta qui molestias animi ut cum eligendi. Animi iste laborum eum. Sed dolor ducimus nihil blanditiis eveniet. Ut nemo quas laborum nostrum rerum.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: aaca14a1-fdd4-416f-a508-50e1355679a8
                          name: 'Beatae optio blanditiis quia.'
                          message: 'Quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                      -
                        id: '4'
                        type: incidents
                        attributes:
                          id: 4
                          guid: 4cc5dea8-f345-40ab-a823-d9a013b2663f
                          name: 'Asperiores consequuntur est sed labore minus laudantium omnis porro.'
                          message: 'Autem in molestiae earum nulla veniam. Esse veniam soluta qui molestias animi ut cum eligendi. Animi iste laborum eum. Sed dolor ducimus nihil blanditiis eveniet. Ut nemo quas laborum nostrum rerum.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            guid:
                              type: string
                              example: aaca14a1-fdd4-416f-a508-50e1355679a8
                            name:
                              type: string
                              example: 'Beatae optio blanditiis quia.'
                            message:
                              type: string
                              example: 'Quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 5e0f1b67-9f51-4c82-95d0-0e816b256579
                      name: 'Consequatur beatae optio blanditiis.'
                      message: 'Quasi quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam. Aut nihil asperiores consequuntur est sed labore.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 5e0f1b67-9f51-4c82-95d0-0e816b256579
                          name:
                            type: string
                            example: 'Consequatur beatae optio blanditiis.'
                          message:
                            type: string
                            example: 'Quasi quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam. Aut nihil asperiores consequuntur est sed labore.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Incidents
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - components
              - updates
              - user
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: c3288e4e-7328-4100-855e-e7faf87ff9c3
                      name: 'Porro architecto consectetur autem in.'
                      message: 'Nulla veniam laudantium esse veniam soluta qui molestias. Ut cum eligendi sed animi iste. Eum harum sed dolor ducimus. Blanditiis eveniet est ut nemo quas laborum.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: c3288e4e-7328-4100-855e-e7faf87ff9c3
                          name:
                            type: string
                            example: 'Porro architecto consectetur autem in.'
                          message:
                            type: string
                            example: 'Nulla veniam laudantium esse veniam soluta qui molestias. Ut cum eligendi sed animi iste. Eum harum sed dolor ducimus. Blanditiis eveniet est ut nemo quas laborum.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 10300919-3c95-4a11-ae53-818dd6bb8222
                      name: 'Consequatur beatae optio blanditiis.'
                      message: 'Quasi quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam. Aut nihil asperiores consequuntur est sed labore.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 10300919-3c95-4a11-ae53-818dd6bb8222
                          name:
                            type: string
                            example: 'Consequatur beatae optio blanditiis.'
                          message:
                            type: string
                            example: 'Quasi quae incidunt consequuntur reprehenderit porro aut. Quibusdam iure vero sequi. Rerum sunt dolor sit eveniet. Aut quis aut esse praesentium veniam. Aut nihil asperiores consequuntur est sed labore.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - Incidents
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - created_at
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: incident
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: incident
            nullable: false
            enum:
              - incident
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: updates
                      attributes:
                        id: 1
                        updateable_id: 3
                        updateable_type: incident
                        message: 'Non saepe rem molestias eum aut et. Blanditiis officiis deleniti mollitia dolore voluptatem inventore a. Minus culpa et doloremque porro doloremque et.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                    -
                      id: '2'
                      type: updates
                      attributes:
                        id: 2
                        updateable_id: 4
                        updateable_type: incident
                        message: 'Soluta quidem est enim corporis. Consequatur error voluptatem sequi rerum. Nobis voluptatem voluptatem suscipit non blanditiis ut eligendi tempore.'
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: updates
                        attributes:
                          id: 1
                          updateable_id: 3
                          updateable_type: incident
                          message: 'Non saepe rem molestias eum aut et. Blanditiis officiis deleniti mollitia dolore voluptatem inventore a. Minus culpa et doloremque porro doloremque et.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                      -
                        id: '2'
                        type: updates
                        attributes:
                          id: 2
                          updateable_id: 4
                          updateable_type: incident
                          message: 'Soluta quidem est enim corporis. Consequatur error voluptatem sequi rerum. Nobis voluptatem voluptatem suscipit non blanditiis ut eligendi tempore.'
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: updates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            updateable_id:
                              type: integer
                              example: 3
                            updateable_type:
                              type: string
                              example: incident
                            message:
                              type: string
                              example: 'Non saepe rem molestias eum aut et. Blanditiis officiis deleniti mollitia dolore voluptatem inventore a. Minus culpa et doloremque porro doloremque et.'
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Ipsam consequatur beatae optio blanditiis quia qui quasi. Incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Ipsam consequatur beatae optio blanditiis quia qui quasi. Incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters:
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: incident
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: incident
            nullable: false
            enum:
              - incident
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Autem assumenda dicta esse magni repellendus impedit ea. Itaque voluptatibus id odio doloremque.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Autem assumenda dicta esse magni repellendus impedit ea. Itaque voluptatibus id odio doloremque.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: updates
                    attributes:
                      id: 1
                      updateable_id: 3
                      updateable_type: incident
                      message: 'Ipsam consequatur beatae optio blanditiis quia qui quasi. Incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: updates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          updateable_id:
                            type: integer
                            example: 3
                          updateable_type:
                            type: string
                            example: incident
                          message:
                            type: string
                            example: 'Ipsam consequatur beatae optio blanditiis quia qui quasi. Incidunt consequuntur reprehenderit porro aut aliquam. Iure vero sequi non rerum sunt dolor. Eveniet voluptatum aut quis aut.'
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Updates'
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the update.'
        example: 2
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - slug
              - id
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'My Template'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'My Template'
            nullable: false
        -
          in: query
          name: 'filters[slug]'
          description: 'Filter by slug.'
          example: my-template
          required: false
          schema:
            type: string
            description: 'Filter by slug.'
            example: my-template
            nullable: false
        -
          in: query
          name: 'filters[id]'
          description: 'Filter by id.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by id.'
            example: 1
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'eaque sequi'
                        slug: eaque-sequi
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'ipsam consequatur'
                        slug: ipsam-consequatur
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'eaque sequi'
                          slug: eaque-sequi
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'ipsam consequatur'
                          slug: ipsam-consequatur
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'eaque sequi'
                            slug:
                              type: string
                              example: eaque-sequi
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'eaque sequi'
                      slug: eaque-sequi
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'eaque sequi'
                          slug:
                            type: string
                            example: eaque-sequi
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Templates'
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'quibusdam totam'
                      slug: quibusdam-totam
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'quibusdam totam'
                          slug:
                            type: string
                            example: quibusdam-totam
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'eaque sequi'
                      slug: eaque-sequi
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'eaque sequi'
                          slug:
                            type: string
                            example: eaque-sequi
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-12-17 16:45:17'
      tags:
        - 'Incident Templates'
    delete:
      summary: 'Delete Incident Template'
      operationId: deleteIncidentTemplate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Templates'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident template.'
        example: 2
        required: true
        schema:
          type: integer
  /api/metrics:
    get:
      summary: 'List Metrics'
      operationId: listMetrics
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - order
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: points
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: points
            nullable: false
            enum:
              - points
        -
          in: query
          name: 'filters[name]'
          description: 'Filter by name.'
          example: 'metric name'
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: 'metric name'
            nullable: false
        -
          in: query
          name: 'filters[calc_type]'
          description: ''
          example: 'sum,avg'
          required: false
          schema:
            type: string
            description: ''
            example: 'sum,avg'
            nullable: false
            enum:
              - 'Cachet\Enums\MetricTypeEnum Filter by calculation type'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: metrics
                      attributes:
                        id: 1
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                    -
                      id: '2'
                      type: metrics
                      attributes:
                        id: 2
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        created:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-12-17 16:45:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: metrics
                        attributes:
                          id: 1
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                      -
                        id: '2'
                        type: metrics
                        attributes:
                          id: 2
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
                          default_value: 1
                          calc_type: 0
                          display_chart: true
                          places: 2
                          default_view: 1
                          threshold: 5
                          order: 0
                          visible: 1
                          created:
                            human: '1 second ago'
                            string: '2024-12-17 16:45:17'
                          updated:
[...]
