openapi: 3.0.3
info:
  title: Cachet
  description: 'API documentation for Cachet, the open source status page system.'
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - status
              - enabled
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: 'group,incidents'
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: 'group,incidents'
            nullable: false
            enum:
              - group
              - incidents
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example: null
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example: null
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: veritatis
                        description: 'Ut distinctio suscipit consequatur. Ea nulla sit aut et. Culpa quasi quasi minus nihil.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: maxime
                        description: 'Aut culpa sunt eaque temporibus. Commodi illo tempore officia ipsa saepe enim aut. Excepturi voluptatem perspiciatis dolores libero. Quis reprehenderit aut repellendus mollitia.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: veritatis
                          description: 'Ut distinctio suscipit consequatur. Ea nulla sit aut et. Culpa quasi quasi minus nihil.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: maxime
                          description: 'Aut culpa sunt eaque temporibus. Commodi illo tempore officia ipsa saepe enim aut. Excepturi voluptatem perspiciatis dolores libero. Quis reprehenderit aut repellendus mollitia.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: veritatis
                            description:
                              type: string
                              example: 'Ut distinctio suscipit consequatur. Ea nulla sit aut et. Culpa quasi quasi minus nihil.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: non
                      description: 'Praesentium sapiente et et ullam assumenda. Quo quis ut enim dignissimos reiciendis amet earum. Odio voluptate nihil illum aspernatur nisi vero. Aut excepturi voluptatem dolor quidem praesentium quas quisquam impedit.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: non
                          description:
                            type: string
                            example: 'Praesentium sapiente et et ullam assumenda. Quo quis ut enim dignissimos reiciendis amet earum. Odio voluptate nihil illum aspernatur nisi vero. Aut excepturi voluptatem dolor quidem praesentium quas quisquam impedit.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ohdgubuipwwrieo
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Magnam excepturi eaque fugiat repudiandae molestias aut.'
                  nullable: false
                status:
                  type: integer
                  description: 'The status of the component. See [Component Statuses](/v3.x/guide/components#component-statuses) for more information.'
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: veritatis
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 66
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The `id` of an existing record in the component_groups table. Must be at least 0.'
                  example: 28
                  nullable: false
              required:
                - name
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: quos
                      description: 'Quisquam architecto tempore dignissimos delectus porro. Quasi voluptas cumque qui. Inventore provident rem omnis maiores ullam. Omnis incidunt perspiciatis officiis deserunt dolorem.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: quos
                          description:
                            type: string
                            example: 'Quisquam architecto tempore dignissimos delectus porro. Quasi voluptas cumque qui. Inventore provident rem omnis maiores ullam. Omnis incidunt perspiciatis officiis deserunt dolorem.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: et
                      description: 'Fugiat eaque nesciunt autem ea enim sapiente aperiam voluptas. Delectus quis ab quas est sit consequuntur. Quod ipsa et sunt et doloribus sunt dolore quisquam.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: et
                          description:
                            type: string
                            example: 'Fugiat eaque nesciunt autem ea enim sapiente aperiam voluptas. Delectus quis ab quas est sit consequuntur. Quod ipsa et sunt et doloribus sunt dolore quisquam.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Components
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rdvpchvfiium
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Veniam soluta sapiente dolore beatae.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 2
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: illum
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 3
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The `id` of an existing record in the component_groups table. Must be at least 0.'
                  example: 0
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 3
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - id
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: components
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: components
            nullable: false
            enum:
              - components
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: ipsam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: ipsam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: et
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: et
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Component Groups'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: dbgvuqlgphxpvpjjirmstbk
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 56
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                components:
                  type: array
                  description: 'The `id` of an existing record in the components table. Must be at least 0.'
                  example:
                    - 64
                  items:
                    type: integer
              required:
                - name
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: eaque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: eaque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: nisi
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: nisi
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Component Groups'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: vbqnmsufngplqipbdvdfdumjd
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 28
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The `id` of an existing record in the components table. Must be at least 0.'
                  example:
                    - 85
                  items:
                    type: integer
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: atque
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: atque
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 4
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: status
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: status
            nullable: false
            enum:
              - name
              - id
              - status
        -
          in: query
          name: include
          description: 'Include related resources.'
          example: updates
          required: false
          schema:
            type: string
            description: 'Include related resources.'
            example: updates
            nullable: false
            enum:
              - updates
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: 931a187f-7394-4197-820b-81a57036df93
                        name: 'Neque doloribus qui ut qui dolores laboriosam possimus cum.'
                        message: 'Eos tempore illum magnam aut rerum qui. Ut beatae excepturi id quidem repudiandae qui ut. Enim impedit laboriosam enim recusandae. Nihil ipsa quia unde libero expedita est eos molestias. Eum aspernatur expedita in velit suscipit.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                    -
                      id: '4'
                      type: incidents
                      attributes:
                        id: 4
                        guid: d7c4dc9c-befc-4c4d-a41c-e2eaa8d178f4
                        name: 'Similique molestiae rerum natus mollitia earum.'
                        message: 'Velit adipisci quia excepturi. Saepe nostrum est aut impedit totam enim dolorum. Perferendis soluta porro dolorem et nostrum perspiciatis perferendis. Aut hic non dolorum.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: 931a187f-7394-4197-820b-81a57036df93
                          name: 'Neque doloribus qui ut qui dolores laboriosam possimus cum.'
                          message: 'Eos tempore illum magnam aut rerum qui. Ut beatae excepturi id quidem repudiandae qui ut. Enim impedit laboriosam enim recusandae. Nihil ipsa quia unde libero expedita est eos molestias. Eum aspernatur expedita in velit suscipit.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                      -
                        id: '4'
                        type: incidents
                        attributes:
                          id: 4
                          guid: d7c4dc9c-befc-4c4d-a41c-e2eaa8d178f4
                          name: 'Similique molestiae rerum natus mollitia earum.'
                          message: 'Velit adipisci quia excepturi. Saepe nostrum est aut impedit totam enim dolorum. Perferendis soluta porro dolorem et nostrum perspiciatis perferendis. Aut hic non dolorum.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '3'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            guid:
                              type: string
                              example: 931a187f-7394-4197-820b-81a57036df93
                            name:
                              type: string
                              example: 'Neque doloribus qui ut qui dolores laboriosam possimus cum.'
                            message:
                              type: string
                              example: 'Eos tempore illum magnam aut rerum qui. Ut beatae excepturi id quidem repudiandae qui ut. Enim impedit laboriosam enim recusandae. Nihil ipsa quia unde libero expedita est eos molestias. Eum aspernatur expedita in velit suscipit.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 00881aaa-19a4-44b4-a519-ee81eb7e62c8
                      name: 'Odio et molestias assumenda ad quia est nemo.'
                      message: 'Sed error in perferendis tenetur voluptas cupiditate. Unde harum omnis enim est dicta nisi.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 00881aaa-19a4-44b4-a519-ee81eb7e62c8
                          name:
                            type: string
                            example: 'Odio et molestias assumenda ad quia est nemo.'
                          message:
                            type: string
                            example: 'Sed error in perferendis tenetur voluptas cupiditate. Unde harum omnis enim est dicta nisi.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Incidents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: vtucvviw
                  nullable: false
                message:
                  type: string
                  description: 'This field is required when `template` is not present.'
                  example: doloremque
                  nullable: false
                template:
                  type: string
                  description: 'This field is required when `message` is not present.'
                  example: qui
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 0
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: cumque
                  nullable: true
                template_vars:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties: {  }
                component_id:
                  type: string
                  description: 'The `id` of an existing record in the components table.'
                  example: null
                  nullable: false
                component_status:
                  type: integer
                  description: 'This field is required when `component_id` is present.'
                  example: 4
                  nullable: true
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
              required:
                - name
                - status
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 34ff6948-8ac7-4e85-b303-bcb8290d859d
                      name: 'Earum nostrum inventore et incidunt quae.'
                      message: 'Cumque dolore unde repellendus ea. Adipisci aut et illo hic. Porro error voluptas amet nihil nihil culpa rerum. Aperiam dolores enim eligendi odio sed sed similique. Quia reiciendis eligendi necessitatibus quo labore fuga.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 34ff6948-8ac7-4e85-b303-bcb8290d859d
                          name:
                            type: string
                            example: 'Earum nostrum inventore et incidunt quae.'
                          message:
                            type: string
                            example: 'Cumque dolore unde repellendus ea. Adipisci aut et illo hic. Porro error voluptas amet nihil nihil culpa rerum. Aperiam dolores enim eligendi odio sed sed similique. Quia reiciendis eligendi necessitatibus quo labore fuga.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '3'
                    type: incidents
                    attributes:
                      id: 3
                      guid: 66a2996a-7d66-4b60-a8a5-9ab762b80940
                      name: 'Dolor possimus vel sed hic aut sequi.'
                      message: 'Dolor tempore nihil ipsum culpa est. Aut qui quo illo voluptatem ea pariatur. Fugit dolore incidunt nemo et est.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '3'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          guid:
                            type: string
                            example: 66a2996a-7d66-4b60-a8a5-9ab762b80940
                          name:
                            type: string
                            example: 'Dolor possimus vel sed hic aut sequi.'
                          message:
                            type: string
                            example: 'Dolor tempore nihil ipsum culpa est. Aut qui quo illo voluptatem ea pariatur. Fugit dolore incidunt nemo et est.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - Incidents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: k
                  nullable: false
                message:
                  type: string
                  description: ''
                  example: qui
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 4
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: et
                  nullable: true
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - created_at
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example:
            - reprehenderit
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example:
              - reprehenderit
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentUpdates
                      attributes:
                        id: 1
                        message: 'Expedita architecto sunt eum incidunt explicabo sed. Modi officiis distinctio perspiciatis sequi laborum.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                    -
                      id: '2'
                      type: incidentUpdates
                      attributes:
                        id: 2
                        message: 'Consequuntur quia dignissimos in expedita. Qui doloribus dolores porro harum exercitationem quis. Sint vel unde adipisci at nihil ut nostrum. Cupiditate quibusdam doloremque et quos necessitatibus laboriosam est.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentUpdates
                        attributes:
                          id: 1
                          message: 'Expedita architecto sunt eum incidunt explicabo sed. Modi officiis distinctio perspiciatis sequi laborum.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                      -
                        id: '2'
                        type: incidentUpdates
                        attributes:
                          id: 2
                          message: 'Consequuntur quia dignissimos in expedita. Qui doloribus dolores porro harum exercitationem quis. Sint vel unde adipisci at nihil ut nostrum. Cupiditate quibusdam doloremque et quos necessitatibus laboriosam est.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentUpdates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            message:
                              type: string
                              example: 'Expedita architecto sunt eum incidunt explicabo sed. Modi officiis distinctio perspiciatis sequi laborum.'
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Impedit fuga suscipit dicta consectetur odio. Dolore odio est provident nihil.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Impedit fuga suscipit dicta consectetur odio. Dolore odio est provident nihil.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Updates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: impedit
                  nullable: false
              required:
                - status
                - message
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{incidentUpdate_id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Ea qui accusamus amet aut voluptatem vel vel. Architecto facilis inventore autem a facilis.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Ea qui accusamus amet aut voluptatem vel vel. Architecto facilis inventore autem a facilis.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Architecto libero voluptatibus facilis ut. Fugit eaque reprehenderit fuga quaerat molestias. Eaque et est veritatis consectetur laboriosam eaque unde. Voluptate vitae et quae eum cum.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Architecto libero voluptatibus facilis ut. Fugit eaque reprehenderit fuga quaerat molestias. Eaque et est veritatis consectetur laboriosam eaque unde. Voluptate vitae et quae eum cum.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Updates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 2
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: sint
                  nullable: false
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: incidentUpdate_id
        description: 'The ID of the incidentUpdate.'
        example: 4
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'How many items to show per page.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'How many items to show per page.'
            example: 20
            nullable: false
        -
          in: query
          name: page
          description: 'Which page to show.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Which page to show.'
            example: 2
            nullable: false
        -
          in: query
          name: sort
          description: 'Field to sort by.'
          example: name
          required: false
          schema:
            type: string
            description: 'Field to sort by.'
            example: name
            nullable: false
            enum:
              - name
              - slug
              - id
        -
          in: query
          name: filters
          description: 'Filter the resources.'
          example:
            - et
          required: false
          schema:
            type: array
            description: 'Filter the resources.'
            example:
              - et
            items:
              type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'facere ut'
                        slug: facere-ut
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'ex quibusdam'
                        slug: ex-quibusdam
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'facere ut'
                          slug: facere-ut
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'ex quibusdam'
                          slug: ex-quibusdam
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-25 19:08:17'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'facere ut'
                            slug:
                              type: string
                              example: facere-ut
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'voluptate voluptas'
                      slug: voluptate-voluptas
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'voluptate voluptas'
                          slug:
                            type: string
                            example: voluptate-voluptas
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Templates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: rel
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: a
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: cupiditate
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: blade
                  nullable: false
                  enum:
                    - blade
                    - twig
              required:
                - name
                - template
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'expedita quibusdam'
                      slug: expedita-quibusdam
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-25 19:08:17'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'expedita quibusdam'
                          slug:
                            type: string
                            example: expedita-quibusdam
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-25 19:08:17'
      tags:
        - 'Incident Templates'
      security: []
    put:
[...]
