openapi: 3.0.3
info:
  title: Cachet
  description: ''
  version: 3.0.0
servers:
  -
    url: 'https://v3.cachethq.io'
paths:
  /api/ping:
    get:
      summary: 'Test the API'
      operationId: testTheAPI
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: Pong!
                properties:
                  data:
                    type: string
                    example: Pong!
      tags:
        - Cachet
      security: []
  /api/version:
    get:
      summary: 'Get Version'
      operationId: getVersion
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    version: 3.x-dev
                properties:
                  data:
                    type: object
                    properties:
                      version:
                        type: string
                        example: 3.x-dev
      tags:
        - Cachet
      security: []
  /api/status:
    get:
      summary: 'Get System Status'
      operationId: getSystemStatus
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: operational
                    message: 'All Systems Operational'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: operational
                      message:
                        type: string
                        example: 'All Systems Operational'
      tags:
        - Cachet
      security: []
  /api/components:
    get:
      summary: 'List Components'
      operationId: listComponents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: components
                      attributes:
                        id: 1
                        name: quia
                        description: 'Consectetur voluptatum aspernatur aut corrupti blanditiis earum dolore. Omnis fugiat quis aut. Temporibus voluptatum voluptate aspernatur maxime numquam id quibusdam. Eos et omnis dicta odit veniam ullam et.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                    -
                      id: '2'
                      type: components
                      attributes:
                        id: 2
                        name: aut
                        description: 'Amet fugiat optio laboriosam quibusdam praesentium sit dolorum voluptas. Ab ullam libero ipsa sint omnis necessitatibus ratione.'
                        link: null
                        order: 0
                        status: 2
                        enabled: true
                        meta: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: components
                        attributes:
                          id: 1
                          name: quia
                          description: 'Consectetur voluptatum aspernatur aut corrupti blanditiis earum dolore. Omnis fugiat quis aut. Temporibus voluptatum voluptate aspernatur maxime numquam id quibusdam. Eos et omnis dicta odit veniam ullam et.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                      -
                        id: '2'
                        type: components
                        attributes:
                          id: 2
                          name: aut
                          description: 'Amet fugiat optio laboriosam quibusdam praesentium sit dolorum voluptas. Ab ullam libero ipsa sint omnis necessitatibus ratione.'
                          link: null
                          order: 0
                          status: 2
                          enabled: true
                          meta: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: components
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: quia
                            description:
                              type: string
                              example: 'Consectetur voluptatum aspernatur aut corrupti blanditiis earum dolore. Omnis fugiat quis aut. Temporibus voluptatum voluptate aspernatur maxime numquam id quibusdam. Eos et omnis dicta odit veniam ullam et.'
                            link:
                              type: string
                              example: null
                            order:
                              type: integer
                              example: 0
                            status:
                              type: integer
                              example: 2
                            enabled:
                              type: boolean
                              example: true
                            meta:
                              type: string
                              example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
      tags:
        - Components
      security: []
    post:
      summary: 'Create Component'
      operationId: createComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: magni
                      description: 'Architecto in soluta aliquid ut accusantium. Qui rerum nemo labore. Non ut vitae impedit possimus soluta.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: magni
                          description:
                            type: string
                            example: 'Architecto in soluta aliquid ut accusantium. Qui rerum nemo labore. Non ut vitae impedit possimus soluta.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Components
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: fwyk
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Magnam omnis harum cum quia dolor possimus.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 5
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: dignissimos
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 36
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 27
                  nullable: false
              required:
                - name
  '/api/components/{id}':
    get:
      summary: 'Get Component'
      operationId: getComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: aut
                      description: 'Dicta libero et amet adipisci aliquid voluptatem ab. Aut enim explicabo quae aliquam. Aliquid voluptatem aspernatur nostrum architecto laudantium accusamus.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aut
                          description:
                            type: string
                            example: 'Dicta libero et amet adipisci aliquid voluptatem ab. Aut enim explicabo quae aliquam. Aliquid voluptatem aspernatur nostrum architecto laudantium accusamus.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Components
      security: []
    put:
      summary: 'Update Component'
      operationId: updateComponent
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: components
                    attributes:
                      id: 1
                      name: porro
                      description: 'Excepturi reiciendis ducimus consequatur nemo ab dolores. Sit distinctio dolores suscipit. Libero sit doloremque molestiae minus repellat aliquam. Exercitationem explicabo provident neque quibusdam beatae doloremque dolor provident.'
                      link: null
                      order: 0
                      status: 2
                      enabled: true
                      meta: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: components
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: porro
                          description:
                            type: string
                            example: 'Excepturi reiciendis ducimus consequatur nemo ab dolores. Sit distinctio dolores suscipit. Libero sit doloremque molestiae minus repellat aliquam. Exercitationem explicabo provident neque quibusdam beatae doloremque dolor provident.'
                          link:
                            type: string
                            example: null
                          order:
                            type: integer
                            example: 0
                          status:
                            type: integer
                            example: 2
                          enabled:
                            type: boolean
                            example: true
                          meta:
                            type: string
                            example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Components
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: vyel
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Excepturi aut ut assumenda.'
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                link:
                  type: string
                  description: ''
                  example: quae
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 68
                  nullable: false
                component_group_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the component_groups table. Must be at least 0.'
                  example: 42
                  nullable: false
                enabled:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
    delete:
      summary: 'Delete Component'
      operationId: deleteComponent
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Components
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component.'
        example: 1
        required: true
        schema:
          type: integer
  /api/component-groups:
    get:
      summary: 'List Component Groups'
      operationId: listComponentGroups
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: error
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: error
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Component Groups'
      security: []
    post:
      summary: 'Create Component Group'
      operationId: createComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: aliquam
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: aliquam
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Component Groups'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ncixrzykintpzgsh
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 49
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 42
                  items:
                    type: integer
              required:
                - name
  '/api/component-groups/{id}':
    get:
      summary: 'Get Component Group'
      operationId: getComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: voluptatem
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: voluptatem
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Component Groups'
      security: []
    put:
      summary: 'Update Component Group'
      operationId: updateComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: sed
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: sed
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Component Groups'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: khcrueoccjfyqek
                  nullable: false
                order:
                  type: integer
                  description: 'Must be at least 0.'
                  example: 74
                  nullable: false
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                components:
                  type: array
                  description: 'The <code>id</code> of an existing record in the components table. Must be at least 0.'
                  example:
                    - 76
                  items:
                    type: integer
    delete:
      summary: 'Delete Component Group'
      operationId: deleteComponentGroup
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: componentGroups
                    attributes:
                      id: 1
                      name: consequatur
                      order: 0
                      visible: 0
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: componentGroups
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: consequatur
                          order:
                            type: integer
                            example: 0
                          visible:
                            type: integer
                            example: 0
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Component Groups'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the component group.'
        example: 12
        required: true
        schema:
          type: integer
  /api/incidents:
    get:
      summary: 'List Incidents'
      operationId: listIncidents
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '2'
                      type: incidents
                      attributes:
                        id: 2
                        guid: dd084290-d049-42ee-aba1-fde565f9ab8c
                        name: 'Ullam et rerum esse sint unde voluptas nemo.'
                        message: 'Est odit ea saepe asperiores. Ullam eius voluptate ullam aut maxime suscipit. Nihil saepe voluptatum repudiandae est libero quia.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                    -
                      id: '3'
                      type: incidents
                      attributes:
                        id: 3
                        guid: 1fc1cee6-7274-495e-825b-5e2a68cfd845
                        name: 'Molestiae eos quam qui et quas voluptatem autem dicta.'
                        message: 'Laudantium est aliquid excepturi repudiandae optio. Nam nesciunt eaque perspiciatis dignissimos quidem facilis qui. Non non et autem consequuntur voluptatem nisi.'
                        component_id: null
                        visible: 1
                        stickied: false
                        notifications: 0
                        status:
                          human: Identified
                          value: 2
                        occurred:
                          human: null
                          string: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '2'
                        type: incidents
                        attributes:
                          id: 2
                          guid: dd084290-d049-42ee-aba1-fde565f9ab8c
                          name: 'Ullam et rerum esse sint unde voluptas nemo.'
                          message: 'Est odit ea saepe asperiores. Ullam eius voluptate ullam aut maxime suscipit. Nihil saepe voluptatum repudiandae est libero quia.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                      -
                        id: '3'
                        type: incidents
                        attributes:
                          id: 3
                          guid: 1fc1cee6-7274-495e-825b-5e2a68cfd845
                          name: 'Molestiae eos quam qui et quas voluptatem autem dicta.'
                          message: 'Laudantium est aliquid excepturi repudiandae optio. Nam nesciunt eaque perspiciatis dignissimos quidem facilis qui. Non non et autem consequuntur voluptatem nisi.'
                          component_id: null
                          visible: 1
                          stickied: false
                          notifications: 0
                          status:
                            human: Identified
                            value: 2
                          occurred:
                            human: null
                            string: null
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '2'
                        type:
                          type: string
                          example: incidents
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            guid:
                              type: string
                              example: dd084290-d049-42ee-aba1-fde565f9ab8c
                            name:
                              type: string
                              example: 'Ullam et rerum esse sint unde voluptas nemo.'
                            message:
                              type: string
                              example: 'Est odit ea saepe asperiores. Ullam eius voluptate ullam aut maxime suscipit. Nihil saepe voluptatum repudiandae est libero quia.'
                            component_id:
                              type: string
                              example: null
                            visible:
                              type: integer
                              example: 1
                            stickied:
                              type: boolean
                              example: false
                            notifications:
                              type: integer
                              example: 0
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            occurred:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: null
                                string:
                                  type: string
                                  example: null
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
      tags:
        - Incidents
      security: []
    post:
      summary: 'Create Incident'
      operationId: createIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: 4452eb7b-2bce-496f-add1-c71cc256cf28
                      name: 'Et facere quia eos excepturi.'
                      message: 'Ad et sequi aut molestiae ipsam a. Omnis occaecati harum ex magnam maxime rem doloribus. Rerum voluptatem aut ab autem magnam.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: 4452eb7b-2bce-496f-add1-c71cc256cf28
                          name:
                            type: string
                            example: 'Et facere quia eos excepturi.'
                          message:
                            type: string
                            example: 'Ad et sequi aut molestiae ipsam a. Omnis occaecati harum ex magnam maxime rem doloribus. Rerum voluptatem aut ab autem magnam.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Incidents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qfmbnfceizfusamvcvbyszuc
                  nullable: false
                message:
                  type: string
                  description: 'This field is required when <code>template</code> is not present.'
                  example: et
                  nullable: false
                template:
                  type: string
                  description: 'This field is required when <code>message</code> is not present.'
                  example: ipsam
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 0
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: eligendi
                  nullable: true
                template_vars:
                  type: object
                  description: ''
                  example: null
                  nullable: false
                  properties: {  }
                component_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the components table.'
                  example: null
                  nullable: false
                component_status:
                  type: integer
                  description: 'This field is required when <code>component_id</code> is present.'
                  example: 4
                  nullable: true
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
              required:
                - name
                - status
  '/api/incidents/{id}':
    get:
      summary: 'Get Incident'
      operationId: getIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: bc4c4ea9-2fb0-4bc5-a7f9-652359e1de97
                      name: 'Dolor et saepe sunt rerum quia occaecati esse voluptatem.'
                      message: 'Eos perferendis debitis animi quos et quod. Nesciunt quia distinctio nihil commodi. Dolorem et placeat voluptatem at.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: bc4c4ea9-2fb0-4bc5-a7f9-652359e1de97
                          name:
                            type: string
                            example: 'Dolor et saepe sunt rerum quia occaecati esse voluptatem.'
                          message:
                            type: string
                            example: 'Eos perferendis debitis animi quos et quod. Nesciunt quia distinctio nihil commodi. Dolorem et placeat voluptatem at.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Incidents
      security: []
    put:
      summary: 'Update Incident'
      operationId: updateIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '2'
                    type: incidents
                    attributes:
                      id: 2
                      guid: 0d45c7cf-61a7-4d9e-8a2f-6714c1a99340
                      name: 'Dignissimos voluptatem et quod vel ducimus non.'
                      message: 'Et eaque explicabo asperiores autem cumque voluptas error. Adipisci rerum provident aut. Qui ea est iste et. Blanditiis illo minima inventore nihil similique est nemo.'
                      component_id: null
                      visible: 1
                      stickied: false
                      notifications: 0
                      status:
                        human: Identified
                        value: 2
                      occurred:
                        human: null
                        string: null
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '2'
                      type:
                        type: string
                        example: incidents
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          guid:
                            type: string
                            example: 0d45c7cf-61a7-4d9e-8a2f-6714c1a99340
                          name:
                            type: string
                            example: 'Dignissimos voluptatem et quod vel ducimus non.'
                          message:
                            type: string
                            example: 'Et eaque explicabo asperiores autem cumque voluptas error. Adipisci rerum provident aut. Qui ea est iste et. Blanditiis illo minima inventore nihil similique est nemo.'
                          component_id:
                            type: string
                            example: null
                          visible:
                            type: integer
                            example: 1
                          stickied:
                            type: boolean
                            example: false
                          notifications:
                            type: integer
                            example: 0
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          occurred:
                            type: object
                            properties:
                              human:
                                type: string
                                example: null
                              string:
                                type: string
                                example: null
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - Incidents
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: yjmczdpujwk
                  nullable: false
                message:
                  type: string
                  description: ''
                  example: quia
                  nullable: false
                status:
                  type: integer
                  description: ''
                  example: 1
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                visible:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                stickied:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                notifications:
                  type: boolean
                  description: ''
                  example: false
                  nullable: false
                occurred_at:
                  type: string
                  description: ''
                  example: officiis
                  nullable: true
    delete:
      summary: 'Delete Incident'
      operationId: deleteIncident
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Incidents
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates':
    get:
      summary: 'List Incident Updates'
      operationId: listIncidentUpdates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentUpdates
                      attributes:
                        id: 1
                        message: 'Minima dolores facilis perspiciatis quis saepe consequuntur sequi. Facilis et quos libero cumque commodi iste. Cupiditate inventore deleniti repellat impedit quae. Sunt aut vel dolorum cum dolorem dignissimos.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:53'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:53'
                    -
                      id: '2'
                      type: incidentUpdates
                      attributes:
                        id: 2
                        message: 'Nemo accusantium sed qui laboriosam adipisci doloremque. Accusantium fugit illo porro excepturi. Vero provident consequatur et sequi. Nam voluptatum quo illo corporis quia quis in.'
                        status:
                          human: Identified
                          value: 2
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:53'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:53'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentUpdates
                        attributes:
                          id: 1
                          message: 'Minima dolores facilis perspiciatis quis saepe consequuntur sequi. Facilis et quos libero cumque commodi iste. Cupiditate inventore deleniti repellat impedit quae. Sunt aut vel dolorum cum dolorem dignissimos.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:53'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:53'
                      -
                        id: '2'
                        type: incidentUpdates
                        attributes:
                          id: 2
                          message: 'Nemo accusantium sed qui laboriosam adipisci doloremque. Accusantium fugit illo porro excepturi. Vero provident consequatur et sequi. Nam voluptatum quo illo corporis quia quis in.'
                          status:
                            human: Identified
                            value: 2
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:53'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:53'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentUpdates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            message:
                              type: string
                              example: 'Minima dolores facilis perspiciatis quis saepe consequuntur sequi. Facilis et quos libero cumque commodi iste. Cupiditate inventore deleniti repellat impedit quae. Sunt aut vel dolorum cum dolorem dignissimos.'
                            status:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: Identified
                                value:
                                  type: integer
                                  example: 2
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:53'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:53'
      tags:
        - 'Incident Updates'
      security: []
    post:
      summary: 'Create Incident Update'
      operationId: createIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Aut labore eum aut soluta placeat. Dolorem doloremque nisi eos repudiandae qui. Ut ut unde hic ea.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Aut labore eum aut soluta placeat. Dolorem doloremque nisi eos repudiandae qui. Ut ut unde hic ea.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
      tags:
        - 'Incident Updates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 2
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: ea
                  nullable: false
              required:
                - status
                - message
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/incidents/{incident_id}/updates/{incidentUpdate_id}':
    get:
      summary: 'Get Incident Update'
      operationId: getIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Itaque vel qui omnis odio consectetur sunt. Accusantium ea quia ut in est repudiandae. Porro et assumenda itaque et quidem perspiciatis aliquam. Nobis dignissimos eos harum neque fuga aut.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Itaque vel qui omnis odio consectetur sunt. Accusantium ea quia ut in est repudiandae. Porro et assumenda itaque et quidem perspiciatis aliquam. Nobis dignissimos eos harum neque fuga aut.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
      tags:
        - 'Incident Updates'
      security: []
    put:
      summary: 'Update Incident Update'
      operationId: updateIncidentUpdate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentUpdates
                    attributes:
                      id: 1
                      message: 'Assumenda et est sit. Qui molestiae similique officiis eos praesentium necessitatibus. Magni error vel itaque quisquam neque nulla similique.'
                      status:
                        human: Identified
                        value: 2
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:53'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentUpdates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          message:
                            type: string
                            example: 'Assumenda et est sit. Qui molestiae similique officiis eos praesentium necessitatibus. Magni error vel itaque quisquam neque nulla similique.'
                          status:
                            type: object
                            properties:
                              human:
                                type: string
                                example: Identified
                              value:
                                type: integer
                                example: 2
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:53'
      tags:
        - 'Incident Updates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: ''
                  example: 2
                  nullable: false
                  enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                message:
                  type: string
                  description: ''
                  example: voluptatem
                  nullable: false
    delete:
      summary: 'Delete Incident Update'
      operationId: deleteIncidentUpdate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Updates'
    parameters:
      -
        in: path
        name: incident_id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: incidentUpdate_id
        description: 'The ID of the incidentUpdate.'
        example: 10
        required: true
        schema:
          type: integer
  /api/incident-templates:
    get:
      summary: 'List Incident Templates'
      operationId: listIncidentTemplates
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: incidentTemplates
                      attributes:
                        id: 1
                        name: 'dignissimos saepe'
                        slug: dignissimos-saepe
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                    -
                      id: '2'
                      type: incidentTemplates
                      attributes:
                        id: 2
                        name: 'voluptatem provident'
                        slug: voluptatem-provident
                        template: 'This is an incident template.'
                        engine: twig
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: incidentTemplates
                        attributes:
                          id: 1
                          name: 'dignissimos saepe'
                          slug: dignissimos-saepe
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                      -
                        id: '2'
                        type: incidentTemplates
                        attributes:
                          id: 2
                          name: 'voluptatem provident'
                          slug: voluptatem-provident
                          template: 'This is an incident template.'
                          engine: twig
                          created:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                          updated:
                            human: '1 second ago'
                            string: '2024-11-24 16:28:52'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: incidentTemplates
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'dignissimos saepe'
                            slug:
                              type: string
                              example: dignissimos-saepe
                            template:
                              type: string
                              example: 'This is an incident template.'
                            engine:
                              type: string
                              example: twig
                            created:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
                            updated:
                              type: object
                              properties:
                                human:
                                  type: string
                                  example: '1 second ago'
                                string:
                                  type: string
                                  example: '2024-11-24 16:28:52'
      tags:
        - 'Incident Templates'
      security: []
    post:
      summary: 'Create Incident Template'
      operationId: createIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'facilis sint'
                      slug: facilis-sint
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'facilis sint'
                          slug:
                            type: string
                            example: facilis-sint
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Incident Templates'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xxvvgnvb
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: molestiae
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: ut
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: blade
                  nullable: false
                  enum:
                    - blade
                    - twig
              required:
                - name
                - template
  '/api/incident-templates/{id}':
    get:
      summary: 'Get Incident Template'
      operationId: getIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'blanditiis aliquam'
                      slug: blanditiis-aliquam
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'blanditiis aliquam'
                          slug:
                            type: string
                            example: blanditiis-aliquam
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Incident Templates'
      security: []
    put:
      summary: 'Update Incident Template'
      operationId: updateIncidentTemplate
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: '1'
                    type: incidentTemplates
                    attributes:
                      id: 1
                      name: 'qui et'
                      slug: qui-et
                      template: 'This is an incident template.'
                      engine: twig
                      created:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                      updated:
                        human: '1 second ago'
                        string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: incidentTemplates
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'qui et'
                          slug:
                            type: string
                            example: qui-et
                          template:
                            type: string
                            example: 'This is an incident template.'
                          engine:
                            type: string
                            example: twig
                          created:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
                          updated:
                            type: object
                            properties:
                              human:
                                type: string
                                example: '1 second ago'
                              string:
                                type: string
                                example: '2024-11-24 16:28:52'
      tags:
        - 'Incident Templates'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jdnpsexbag
                  nullable: false
                slug:
                  type: string
                  description: ''
                  example: aliquam
                  nullable: false
                template:
                  type: string
                  description: ''
                  example: nesciunt
                  nullable: false
                engine:
                  type: string
                  description: ''
                  example: twig
                  nullable: false
                  enum:
                    - blade
                    - twig
    delete:
      summary: 'Delete Incident Template'
      operationId: deleteIncidentTemplate
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - 'Incident Templates'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident template.'
        example: 19
        required: true
        schema:
          type: integer
  /api/metrics:
    get:
      summary: 'List Metrics'
      operationId: listMetrics
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: '1'
                      type: metrics
                      attributes:
                        id: 1
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                    -
                      id: '2'
                      type: metrics
                      attributes:
                        id: 2
                        name: 'Cups of coffee'
                        suffix: cups
                        description: 'How many cups of coffee consumed by the team.'
                        default_value: 1
                        calc_type: 0
                        display_chart: true
                        places: 2
                        default_view: 1
                        threshold: 5
                        order: 0
                        visible: 1
                        status: null
                        created:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                        updated:
                          human: '1 second ago'
                          string: '2024-11-24 16:28:52'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: '1'
                        type: metrics
                        attributes:
                          id: 1
                          name: 'Cups of coffee'
                          suffix: cups
                          description: 'How many cups of coffee consumed by the team.'
[...]
